{% set blox = htmlWebpackPlugin.options.blox %}
{% set title = blox.page.title %}

{% extends "layout/layout.njk" %}

{% block content %}
    <section class="container pt-5 pb-8">
        <h1 class="py-5">Resources</h1>
        <p class="lead mw-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque viverra justo nec. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper.</p>
        {% include "packages/partials/blox.partial-package.resources/blox.partial.downloads.quiz/downloads.njk" %}
        <div class="text-center">
            <a class="btn btn-link" href="/quiz/" role="button">Lorem ipsum dolor sit amet
            <img class="ml-2" src="{{ blox.page.path }}assets/images/arrow-icon.svg" alt="" width="30px"/></a>
        </div>
    </section>
{% endblock %}